/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2"), url("../fonts/PTSans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2"), url("../fonts/PTSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root{
  --basic-black: #000000;
  --opacity-black: rgba(0,0,0,0.3);
  --basic-dark: #333333;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --basic-brown: #766357;
  --background-blue: #dbeaf3;
  --dark-brown: #604e43;
  --darkest-brown: #503e33;
  --opacity-white: rgba(255,255,255,0.3);
  --footer-white: rgba(255, 255, 255, 0.9);
  --dark-blue: #669ec0;
  --darkest-blue: #5496bd;
  --rating-gray: #666666;
  --light-gray: #f2f2f2;
  --active-logo-gray: #bdbbbc;
  --filter-toggle-gray: #ababab;
  --toggle-shadow: rgba(171,171,171, 0.3);
  --line-gray: #e5e5e5;
  --form-button: #a9a9a9;
  --form-input-hover: #ebebeb;
  --map-background: #f2f1ef;
  --site-shadow: rgba(0, 1, 1, 0.2);
  --disabled-checkbox: #6a6a6a;
}

/* Global */

.page {
  background-color: var(--light-gray);
}

.page-body {
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", "Calibri", sans-serif;
  font-weight: 400;
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--site-shadow);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
}

/* Grid */

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* Main navigation */
.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  padding: 14px 72px 16px 72px;
}

.site-navigation {
  list-style: none;
  padding-left: 0px;
  display: flex;
  margin: 0px;
}

.site-navigation li {
  width:  228px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation a:hover:not(.site-navigation-current) {
  color: var(--basic-blue);
}

.site-navigation a:active:not(.site-navigation-current) {
  opacity: 0.3;
}

.site-navigation-current {
  color: var(--basic-brown);
}


/* Index */

/* Welcome */

.welcome {
  position: relative;
  background-color: var(--background-blue);
  background-image: url("../img/index_background_photo.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 509px;
}

.welcome::after {
  display: block;
  content: "";
  background-image: url("../img/shape.svg");
  background-size: cover;
  width: 1200px;
  height: 57px;
  position: absolute;
  top: 452px;
  left: 0px;
}

.welcome img {
  position: relative;
  top: 77px;
}

/* Features */

.features-header {
  text-align: center;
  padding-top:  42px;
  padding-bottom: 51px;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 44px;
}

.features-header-text {
  margin: 0px;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--basic-gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 586px 256px 256px;
}

.feature-item {
  text-align: center;
  padding: 47px 49px 0px 49px;
}

.feature-description {
  margin: 0px auto 0px auto;
  max-height: 42px;
}

.feature-item .feature-number {
  margin-top: 0px;
  margin-bottom: 23px;
}

.feature-tittle {
  font-size: 21px;
  line-height: 21px;
  max-width: 151px;
  color: var(--basic-black);
  margin: 0px auto 25px auto;
}


.feature-item-with-img {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

.real-town-img {
  grid-column: 2 / -1;
  height: 256px;
}

.devils-bridge-img {
  grid-column: 1 / 3;
}

.feature-tittle-with-img {
  color: var(--basic-white);
}

.features-town-list {
  list-style: none;
  background-color: var(--basic-white);
  color: var(--basic-dark);
  padding: 0;
  margin: 0;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }

.feature-town-item {
  box-sizing: border-box;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 60px;
  padding: 160px 49px 82px 49px;
}

.feature-town-tittle {
  margin: 0px auto 25px auto;
}

.house {
  background-image: url("../img/house.svg");
}

.food {
  background-image: url("../img/food.svg");
}

.souvenirs {
  background-image: url("../img/souvenirs.svg");
}

/* Search for hotels */

.search-for-hotels {
  position: relative;
  text-align: center;
  padding-top: 58px;
}

.search-question {
  font-weight: 700;
  color: var(--basic-black);
  font-size: 30px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 35px;
}

.search-text {
  max-width: 435px;
  margin: 0px auto 40px auto;
}

/* Button */

.button {
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
  font-weight: 700;
}

.button:hover {
  background-color: var(--dark-brown);
}

.button:active {
  background-color: var(--darkest-brown);
  color: var(--opacity-white);
  border: none;
  outline: none;
}

.search-for-hotels-button {
  position: relative;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
}

/* Search form */

.search-form {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 1;
  width: 568px;
  background-color: var(--basic-white);
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
}

.search-form label {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: var(--basic-black);
}

.search-form input {
  box-sizing: border-box;
  border: none;
  background-color: var(--light-gray);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
}

.date input {
  width: 345px;
  height: 38px;
  padding-left: 12px;
}

.date input:hover {
  background-color: var(--form-input-hover);
}

.search-form input:focus {
  border: 2px solid var(--line-gray);
  background-color: var(--basic-white);
  outline: none;
}

.calendar {
  position: absolute;
  right: 9px;
  top: 7px;
  border: none;
  padding: 0px;
}

.form-button:hover * {
  fill: var(--basic-black);
}

.form-button:active * {
  fill: var(--basic-blue);
}

.search-form .persons {
  width: 50%;
  box-sizing: border-box;
}

.persons-container {
  position: relative;
  display: flex;
}

.minus-button {
  height: 38px;
  width: 38px;
  padding: 0px;
  border: none;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.persons input {
  width: 38px;
  height: 38px;
  text-align: center;
  order: 1;
}

.plus-button {
  height: 38px;
  width: 38px;
  padding: 0px;
  border: none;
  background-color: var(--light-gray);
  order: 2;
}

.children {
  padding-left: 50px;
}

.search-button {
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--basic-blue);
}

.search-button:hover {
  background-color: var(--dark-blue);
}

.search-button:active {
  background-color: var(--darkest-blue);
}

/* Map */

.map {
  position: relative;
  top: 120px;
  margin-top: -120px;
  border: none;
  background-color: var(--map-background);
}
/* Footer */

.main-footer {
color: var(--basic-black);
background-color: var(--footer-white);
padding-left: 72px;
padding-right: 72px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
z-index: 1;
}


.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 23px;
}

.hashtag {
  margin-top: 0px;
  margin-bottom: 9px;
}

.footer-phone {
  margin-top: 0px;
  margin-bottom: 36px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socials-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding:  0px;
}


.social-button {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:hover {
  background-color: var(--dark-blue);
}

.social-button:active {
  background-color: var(--darkest-blue)
}

.social-button:active .social-logo {
  opacity: 0.3;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  padding-left: 65px;
  display: flex;
  align-items: center;
}

.footer-copyright p {
  margin-left: 65px;
  margin-right: 8px;
}

.htmlacademy-button:hover .htmlacademy-logo {
  fill: var(--basic-blue);
}

.htmlacademy-button:active .htmlacademy-logo {
  fill: var(--active-logo-gray);
}

/* Catalog */

/* Filter */

.filter {
  box-sizing: border-box;
  width: 1200px;
  height: 217px;
  background-color: var(--basic-blue);
  background-image: url("../img/catalog_filter_background.jpg");
  background-repeat: no-repeat;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  padding-top: 26px;
  padding-left: 72px;
  padding-right: 72px;
}

.checkbox-fieldset {
  width: 254px;
  padding:  0px;
  margin: 0px;
  border: none;
  padding: 0px;
}

.filter-list {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
}

.filter-list li {
  margin-bottom: 25px;
}

.filter-tittle {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 24px;
}

.checkbox-fieldset label {
  padding-left: 39px;
  display: block;
  position: relative;
}

.filter-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
}

.filter-checkbox:disabled:not(:checked) + label::before {
  border: 2px solid var(--disabled-checkbox);
}

.filter-checkbox:checked + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg")
}

.filter-checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-disabled.svg")
}

.price-fieldset {
  width: 317px;
  padding: 0px;
  margin: 0px;
  justify-self: end;
  border: none;
}

.price-fieldset legend {
  margin-bottom: 10px;
}

.input-price-number-fieldset {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
  margin: 0px;
  text-align: center;
}

.input-price-number-fieldset::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  left: 159px;
  top: 5px;
  background-color: var(--basic-white);
}

.input-price-number {
  max-width: 31px;
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  font-family: : inerhit;
  font-size: 14px;
  line-height: 21px;
}

.input-price-number:focus {
  border: none;
  outline: none;
}

.range-controls {
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  position: relative;
  padding-top: 20px;
}

.scale {
  width: 316px;
  height: 2px;
  background-color: var(--opacity-white);
  }

.bar{
  width: 78%;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  top: 11px;
  width: 4px;
  height: 4px;
  background-color: var(--filter-toggle-gray);
  border-radius: 50%;
  border: 8px solid var(--basic-white);
  box-shadow: 0px 2px var(--toggle-shadow);
}

.toggle:hover {
  width: 5px;
  height: 5px;
}

.max-toggle {
  left: 77%;
}

.filter-button {
  display: block;
  color: var(--basic-white);
  width: 137px;
  height: 36px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin: 0px auto;
}

.filter-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* Filter result */
.filter-result {
  padding-left: 72px;
  padding-right: 72px;
}

.filter-result-header {
  position: relative;
  display: flex;
  padding-top: 31px;
}

.filter-result-header::after {
  content: "";
  width: 1200px;
  height: 1px;
  background-color: var(--line-gray);
  position: absolute;
  bottom: 0px;
  left: -72px
}

.filter-result-tittle {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  width: 163px;
  margin-top: -2px;
  margin-bottom: 31px;
}

.sorting-tittle {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 400;
  margin-top: 0px;
  margin-right: 40px;
}

.sorting-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: flex-start;
}

.sorting-buttons {
  margin-left: auto;
  margin-top: 9px;
  width: 34px;
  display: flex;
  justify-content: space-between;
}

.sorting-button {
  line-height: 10px;
}

.sorting-button-current path {
  fill: var(--basic-blue);
}

.sorting-button:hover path {
  fill: var(--basic-black);
}

.sorting-button:active path {
  fill: var(--basic-blue);
}

.sorting-item {
  color: var(--opacity-black);
  border-bottom: 1px dotted var(--basic-blue);
  margin-right: 32px;
}

.sorting-item:hover {
  color: var(--basic-blue);
}

.sorting-item:active {
  color: var(--basic-black);
  border: none;
}

.sorting-item-current {
  color: var(--basic-blue);
  border: none;
}

.result-list {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  display:  flex;
  margin-top: 0px;
}

.result-list li {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 90px;
  position: relative;
}

.result-list li::after {
  content: "";
  width: 1200px;
  height: 1px;
  background-color: var(--line-gray);
  position: absolute;
  bottom: 0px;
  left: -72px
}

.hotel-description {
  position: relative;
  top: -7px;
  height: 97px;
  margin-left: 37px;
  margin-right: auto;
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows:33px;
  column-gap: 6px;
}

.hotel-name {
  width: 100%;
  grid-column: 1 / 3;
  margin: 0px;
}

.hotel-description p {
  display: inline-block;
  margin: 0px;
}

.stars {
  height: 17px;
  background-image: url("../img/icon_star.svg");
  background-repeat: space;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 66px;
}

.four-stars {
  width: 90px;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
}

.hotel-link:hover {
  color: var(--basic-blue);
}

.hotel-link:active {
  color: var(--opacity-black);
}

.more-button {
  background-color: var(--basic-blue);
  padding: 3px 16px;
  width: 110px;
  height: 27px;
  box-sizing: border-box;
  align-self: end;
}

.book-button {
  width: 142px;
  height: 27px;
  box-sizing: border-box;
  padding: 3px 16px;
  align-self: end;
}

.more-button:hover {
  background-color: var(--dark-blue);
}

.more-button:active {
  background-color: var(--darkest-blue);
  color: var(--opacity-white);
}

.rating {
  color: var(--rating-gray);
  background-color: var(--light-gray);
  width: 110px;
  height: 27px;
  box-sizing: border-box;
  padding: 3px 12px 3px 15px;
  margin: 0px;
}
